<div class="riders-setup-main-container">
  <div *ngIf="state == allSelectState.Rider">
    <h1 class="mat-typography">
      Selectionner le Rider
    </h1>
    <div class="riders-list" *ngFor="let rider of GetRiders(); let i = index">
      <button mat-stroked-button class="select-button" color="primary" (click)="SelectRider(i)">
        {{rider.number}} : {{rider.name}}
      </button>
    </div>
  </div>
  <div *ngIf="state == allSelectState.Zone">
    <h1 class="mat-typography">
      Selectionner la Zone
    </h1>
    <div class="zones-list" *ngFor=" let zone of GetZoneNb(); let i = index">
      <button mat-stroked-button class="select-button" color="primary" [disabled]="AllRoundDone(i)" (click)="SelectZone(i)">
        Zone : {{i}}
      </button>
    </div>
  </div>
</div>
