.comp-setup-main-container {
  width: 90%;
  margin: 20px auto;
  text-align: center;

  .form-container {
    margin: 20px auto 0;
  }

  .form-field {
    display: block
  }

  .checkbox-field {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block
  }

  .validate-button {
    margin: 20px auto;
    display: block;
  }
}
