<div class="comp-setup-main-container">
  <h1 class="mat-typography">
    Setup Competition
  </h1>
  <div class="form-container">
    <form [formGroup]="competitionForm" (submit)="OnSubmit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nombre de tours</mat-label>
        <input matInput type="number" formControlName="roundNb" required>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Temps Competition</mat-label>
        <input matInput formControlName="compTime" required>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Nombre de zones</mat-label>
        <input matInput type="number" formControlName="zoneNb" required>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Temps zone</mat-label>
        <input matInput formControlName="zoneTime" required>
      </mat-form-field>
      <mat-checkbox class="checkbox-field" formControlName="useFeet">Pieds</mat-checkbox>
      <mat-checkbox class="checkbox-field" formControlName="usePoints">Points</mat-checkbox>
      <button mat-raised-button class="validate-button" color="primary" type="submit">Save</button>
    </form>
  </div>
</div>
