<app-top-bar (changeSidebar)="ToggleSideNav()"></app-top-bar>
<mat-drawer-container>
  <mat-drawer mode="side" [(opened)]="opened">
    <app-sidebar (closeSidebar)="CloseSidebar()"></app-sidebar>
  </mat-drawer>
  <mat-drawer-content (click)="CloseSidebar()">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

