<mat-toolbar class="top-bar-main-container" color="primary">
  <button mat-icon-button (click)="ToggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="title">
    <h1 class="typography">Trial App Poc</h1>
  </div>
</mat-toolbar>
