<app-rider-select *ngIf="state===allRunState.RiderSelect"
                  (riderSelectDone)="RiderSelectDone()"
></app-rider-select>
<app-timer *ngIf="state===allRunState.Timer"
           (timerDone)="TimerDone($event)"
></app-timer>
<app-score-entry *ngIf="state===allRunState.ScoreEntry"
></app-score-entry>
<app-summary *ngIf="state===allRunState.Summary"
></app-summary>
