<div class="sidebar-main-container">
  <button mat-button (click)="GoToCompSetup()">Competition</button>
  <button mat-button (click)="GoToRidersSetup()">Riders</button>
  <button mat-button (click)="GoToZone()">Zone</button>
  <button mat-button (click)="GoToResult()">Score</button>
</div>
