<div class="comp-setup-main-container">
  <h1 class="mat-typography">
    {{appManager.GetCurrentRider().name}}
  </h1>

  <div class="timer-container">
    <countdown #cd [config]="config"></countdown>
  </div>

  <div class="buttons-container">
    <button *ngIf="state == allTimerState.Start" mat-raised-button (click)="StartTimer()">
      Lancer la zone
    </button>
    <button *ngIf="state == allTimerState.Counting" mat-raised-button (click)="PauseTimer()">
      Pause
    </button>
    <div *ngIf="state == allTimerState.Paused">
      <button mat-raised-button (click)="StartTimer()">
        Continuer
      </button>
      <button mat-raised-button (click)="StopTimer()">
        Terminer
      </button>
    </div>
  </div>
</div>
