<div class="riders-setup-main-container">
  <h1 class="mat-typography">
    Setup Riders
  </h1>

  <form>
    <div class="riders-list" *ngFor="let rider of riders; let i = index">
      <mat-form-field class="form-field" appearance="outline">
        <input matInput name="number-{{i}}" type="number" placeholder="1234" required [(ngModel)]="rider.number"/>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <input matInput name="text-{{i}}" type="text" placeholder="Rider" required [(ngModel)]="rider.name"/>
      </mat-form-field>
      <button mat-icon-button class="delete-button" color="warn" (click)="DeleteRiders(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div class="buttons">
      <button mat-stroked-button class="create-button" color="primary" (click)="AddRider()">Ajouter</button>
    </div>
    <button mat-raised-button class="validate-button" color="primary" type="submit" (click)="SubmitRiders()">Save
    </button>
  </form>
</div>
