.riders-setup-main-container {
  width: 90%;
  margin: 20px auto auto;
  text-align: center;

  .riders-list {
    display: flex;
  }

  .form-field {
    margin-left: 0 !important;
    flex: 1;
  }

  .form-field + .form-field {
    margin-left: 10px !important;
  }

  .mat-form-field-wrapper{
    padding-bottom: 0;
  }

  .delete-button {
    margin-left: 5px;
    line-height: 60px
  }

  .buttons {
    display: flex
  }

  .create-button {
    margin-top: 5px;
  }

  .validate-button {
    margin-top: 20px
  }
}
