/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-infix {
  width: auto !important;
}

.mat-drawer-container {
  min-height: calc(100vh - 64px)
}

.mat-drawer-content {
  min-height:calc(100vh - 64px)
}
